html {
  height: 100%;
  width: 100%;
}
/*
  Add style rules for the body of a your webpage.
  Note: These rules will be applied to all elements.
*/
body {

    /* Add a background color or image */
    background-color: #d5cdbe;
    background-image: url('');

    /* Customize the font, size, and color for text*/
    font-family: 'Times New Roman';
    font-size: 16px;
    color: black;

    /* Adjust the padding and margins */
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;

    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0;

}

/* Part 1: Navbar */
/* General style rule set for all items in ul */
.navbar ul {
  list-style-type: none;
  overflow:hidden;
  position:fixed;
  top:0;
  width:100%;
  margin-bottom: 15px;
  height:50px;
}

/* Style rule set for individual li */
.navbar ul li {
    float: left;
    margin: 10px;
}

/* Style rule set for individual li link */
.navbar ul li a {
  display:block;
  text-decoration: none;
  font-family: 'Times New Roman';
  color:black;
  font-size: 24px;
}

/* Style rule set for hovered link */
.navbar ul li a:hover {
    font-weight: bold;
}

/*Style Text: Add style rules for any headings (h1-6), paragraphs and links*/
h1,h2,h3,h4,h5,h6 {
font-weight: bold;
text-decoration:underline;
}


p {
  font-style:italic;
  font-size: 16px;
}

/* Add style to button */
#theme-button {
  display:flex;
  background-color:  #9b634b;
  font-size: 14px;
  font-family: Times New Roman;
  text-decoration: underline white wavy;
  color: white;
  border-radius:10px;
  border-style:double;
  border-color: #4e3e37;
  border-width: 5px;
  cursor: pointer;
}
/* Customize Dark Mode Theme */
.dark-mode {
background-color: black;
color:white;  
}
.dark-mode .navbar ul li a{
  color:white;
}

/* Part 2: Flexbox */

/* General style rule set for flex container */
.flex-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

/* Style set for all flex-items */
.flex-item {
    background: white;
    color: black;
    font-weight: bold;
    text-align: center;
}

/*Pseudo-class Link Style: Add style rules for all links*/
  a:link{
    color:white;
    text-decoration: none;
  }
  a:visited{
    color:#208df3EE;
  }
  a:hover{
    text-decoration: underline;
  }
  a:active{
    color: #eb607cEE;
  }

/*
  Style Lists: Styles added to the ol or ul style rulesets affect the entire
  list, while styles added to the li style ruleset affect individual list items
*/

ol {

}

ol li {

}


ul {
text-align: center;
}

ul li {

}

/* Select and style elements by class name or ID */

/* Example: This styles elements with class="header"*/
.header-container {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 25px;
  margin-bottom: 10px;
  font-size: 14px;
}


.header-left:nth-of-type(1){
  width: 55%;
}

.header-right:nth-of-type(2){
  width: 45%;
}

/* Example: This styles an element with an id="header-img" */
#header-img {
  display:flex;
  flex-direction: row;
  padding-top: 10px;
  margin-left:20px;
  margin-right:20px ;
  max-width: 100%;
}


.button-container {
  display: flex;
  flex-direction: row;
  gap:10px;
  background-color:  #9b634b;
  text-align: center;
  font-size: 16px;
  color: white;
  padding: 20px 40px;
  margin:10px;
  width: 100px;
  height: 42px;
  border-radius:10px;
  border-style:double;
  border-color: #4e3e37;
  border-width: 5px;
  cursor: pointer;
}

input {
  display: flex;
}

.petition-container{
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  padding-bottom: 15px;
}

.petition-mtownfood{
  width: 55%;
  padding-right: 10px;
}

.signatures{
  width: 45%;
  padding-right: 10px;
}

.error {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background:pink;
}

.revealable {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.active {
  transform: translateY(0);
  opacity: 1;
}

/* the modal that covers the background and prevents user interactions */
.modal {
  display: none; /* hides the modal from view by default*/
  position: fixed; /* keeps the modal in one place */
  z-index: 2; /* positions the modal on top of all other elements on the screen */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); /* 40% opacity black - other elements can still be seen */
  flex-direction: column; /* these flexbox rules center the content on the screen */
  align-items: center;
  justify-content: center;
}

/* box that contains all the content and images */
.modal-content {
  background-color: #e5ee72; /* update the colors and font sizes as you like */
  color: black;
  text-align: center;
  font-size: 3rem;
  display: flex; /* adds flexbox to center all items */
  justify-content: center;
  align-items: center;
}

#thanks-modal-content {
  width: 20rem; /* sets a default width for the text container */
}

#modal-text-container {
  display: flex; /* adds flexbox to center the text and buttons (stretch feature) */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer{
  display:grid;
  position: fixed;
  height:6px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #9b634b;
  color: white;
  text-align: center;
  z-index: 1;
  padding: 3px;
}
